{% extends 'app/base.html' %}

{% load static %}
{% load humanize %}

{% block contenido %}
<main>
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <!-- carrito de compra -->
        <div class="container">
            <!-- fila 1 -->
            <div class="row">
                <!-- columna 1 -->
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <b>TU CARRO</b> ({{ carrito|length }} Productos)
                        </div>
                    </div>
                </div>
                <!-- columna 2 -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <b>RESUMEN DE LA COMPRA</b>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <!-- fila 2 -->
            <div class="row">
                <!-- columna 1 -->
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            {% for key, item in carrito.items %}
                            <!-- fila item -->
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="img-fluid mx-auto d-block image" src="{{ item.imagen }}" alt="{{ item.nombre }}">
                                </div>
                                <div class="col-md-3">
                                    <a href="#">{{ item.nombre }}</a>
                                    <div class="product-info">
                                        <div>Color: <span class="value">{{ item.color }}</span></div>
                                        <div>Marca: <span class="value">{{ item.id_marca }}</span></div>
                                    </div>
                                </div>
                                <div class="col-md-2 quantity">
                                    <a href="{% url 'restar_producto' item.producto_id %}" class="btn btn-outline-secondary btn-sm">-</a>
                                    <span>{{ item.cantidad }}</span>
                                    <a href="{% url 'agregar_producto' item.producto_id %}" class="btn btn-outline-secondary btn-sm">+</a>
                                </div>
                                <div class="col-md-2">
                                    <a href="{% url 'eliminar_producto' item.producto_id %}" class="btn btn-outline-danger btn-sm">Eliminar</a>
                                </div>
                                <div class="col-md-2">
                                    <span>${{ item.acumulado | intcomma }}</span>
                                </div>
                            </div>
                            <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- columna 2 -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><b>Productos ({{ carrito|length }})</b></li>
                                        <li class="list-group-item"><b>Total:</b></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><b>${{ total_carrito | intcomma }}</b></li>
                                    </ul>
                                </div>
                            </div>
                            <br>
                            <a href="{% url 'limpiar_carrito' %}" class="btn btn-danger btn-mg">Limpiar Carrito</a>
                            <br><br>
                            <!-- Paypal Button -->
                            <div id="paypal-button-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<br><br>

<!-- PayPal SDK Script -->
<script src="https://www.paypal.com/sdk/js?client-id=AYF9tOdw59SscCwlc6HI7acjGVe70kfccLbUQiuRaaoCCz8lGBDqp2MpQzzWpxxISO-DykG2fLZmI_rt"></script>
<script>
    const cartItems = JSON.parse('{{ carrito_items|escapejs }}');

    window.paypal.Buttons({
        style: {
            shape: 'rect',
            layout: 'vertical',
            color: 'gold',
            label: 'paypal',
        },
        createOrder: async function(data, actions) {
            return fetch('/api/orders', {
                method: 'post',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    cart: cartItems
                })
            }).then(function(res) {
                return res.json();
            }).then(function(orderData) {
                if (orderData.id) {
                    return orderData.id;
                } else {
                    throw new Error('Order creation failed.');
                }
            });
        },
        onApprove: async function(data, actions) {
            return fetch(`/api/orders/${data.orderID}/capture`, {
                method: 'post',
                headers: {
                    'content-type': 'application/json'
                }
            }).then(function(res) {
                return res.json();
            }).then(function(orderData) {
                if (orderData.purchase_units) {
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    const transaction = orderData.purchase_units[0].payments.captures[0];
                    alert(`Transaction ${transaction.status}: ${transaction.id}`);
                } else {
                    throw new Error('Capture failed.');
                }
            });
        }
    }).render('#paypal-button-container');
</script>
{% endblock %}
