{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block contenido %}
<main>
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <b>TU CARRO</b> ({{ carrito|length }} Productos)
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <b>RESUMEN DE LA COMPRA</b>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            {% for key, item in carrito.items %}
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="img-fluid mx-auto d-block image" src="{{ item.imagen }}" alt="{{ item.nombre }}">
                                </div>
                                <div class="col-md-3">
                                    <a href="#">{{ item.nombre }}</a>
                                    <div class="product-info">
                                        <div>Color: <span class="value">{{ item.color }}</span></div>
                                        <div>Marca: <span class="value">{{ item.id_marca }}</span></div>
                                    </div>
                                </div>
                                <div class="col-md-2 quantity">
                                    <a href="{% url 'restar_producto' item.producto_id %}" class="btn btn-outline-secondary btn-sm">-</a>
                                    <span>{{ item.cantidad }}</span>
                                    <a href="{% url 'agregar_producto' item.producto_id %}" class="btn btn-outline-secondary btn-sm">+</a>
                                </div>
                                <div class="col-md-2">
                                    <a href="{% url 'eliminar_producto' item.producto_id %}" class="btn btn-outline-danger btn-sm">Eliminar</a>
                                </div>
                                <div class="col-md-2">
                                    <span>${{ item.acumulado | intcomma }}</span>
                                </div>
                            </div>
                            <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><b>Productos ({{ carrito|length }})</b></li>
                                        <li class="list-group-item"><b>Total:</b></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><b>${{ total_carrito | intcomma }}</b></li>
                                    </ul>
                                </div>
                            </div>
                            <br>
                            <a href="{% url 'limpiar_carrito' %}" class="btn btn-danger btn-mg">Limpiar Carrito</a>
                            <br><br>
                            <div id="paypal-button-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<br><br>
<script src="https://www.paypal.com/sdk/js?client-id=AbTNaxU3ExF7fl-Ic5e3aBs49-36S6o1m8zThj270D9kzbF05cpjsabs_7n0SwrxxKXdtgZTIoPsnYfn&currency=USD"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const cartItems = JSON.parse('{{ carrito_items|escapejs }}');

        window.paypal.Buttons({
            style: {
                shape: 'rect',
                layout: 'vertical',
                color: 'gold',
                label: 'paypal',
            },
            createOrder: function(data, actions) {
                return fetch('/api/orders', {
                    method: 'post',
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify({
                        cart: cartItems
                    })
                }).then(function(res) {
                    return res.json();
                }).then(function(orderData) {
                    if (orderData.id) {
                        return orderData.id;
                    } else {
                        throw new Error('Order creation failed.');
                    }
                }).catch(function(err) {
                    console.error('Create order error:', err);
                });
            },
            onApprove: function(data, actions) {
                return fetch(`/api/orders/${data.orderID}/capture`, {
                    method: 'post',
                    headers: {
                        'content-type': 'application/json'
                    }
                }).then(function(res) {
                    return res.json();
                }).then(function(orderData) {
                    if (orderData.purchase_units) {
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        const transaction = orderData.purchase_units[0].payments.captures[0];
                        alert(`Transaction ${transaction.status}: ${transaction.id}`);

                        // Limpiar el carrito después de la compra exitosa
                        return fetch('/limpiar_carrito_despues_compra/', {
                            method: 'post',
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}', // Asegúrate de incluir el token CSRF
                                'content-type': 'application/json'
                            }
                        }).then(function(res) {
                            if (res.ok) {
                                console.log('Carrito limpiado después de la compra');
                                // Opcional: Redirigir al usuario a una página de agradecimiento o de resumen de compra
                                window.location.href = '/gracias/';
                            } else {
                                console.error('Error al limpiar el carrito');
                            }
                        });
                    } else {
                        throw new Error('Capture failed.');
                    }
                }).catch(function(err) {
                    console.error('Capture order error:', err);
                });
            }
        }).render('#paypal-button-container');
    });
</script>
{% endblock %}
