{% extends 'app/base.html'%}

{% load static %}

{% block contenido %}

<link rel="stylesheet" href="{% static '/app/CSS/catalogo.css' %}">



<main>
  <!-- aqui esta barra filtros -->
  <div class="navFiltro ">
    <div class="container ">
      <nav class="navbar navbar-expand-lg bg-body-secondary justify-content-center">
        
            <ul class="navbar-nav ">

              <!-- Marca -->
                <li class="nav-item dropdown">
                  <button class="btn dropdown-toggle navbar-brand" data-bs-toggle="dropdown" aria-expanded="false">
                    <b>Marca</b>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-primary">

                {% for marca in marcas %}
                    <li><a class="dropdown-item" href="{% url 'catalogo' %}?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}marca={{ marca.nombre_m }}">{{ marca.nombre_m }}</a></li>
                    {% if not forloop.last %}

                        <li><hr class="dropdown-divider"></li>
                    {% endif %}
                {% endfor %}
                  </ul>
                </li>
              
              <!-- Categoria --> 
                <li class="nav-item dropdown">
                    <button class="btn dropdown-toggle navbar-brand" data-bs-toggle="dropdown" aria-expanded="false">
                      <b>Categoria</b>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-primary">
                      {% for categoria in categorias %}
                        <li><a class="dropdown-item" href="{% url 'catalogo' %}?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}categoria={{ categoria.nombre }}">{{ categoria.nombre }}</a></li>
                          {% if not forloop.last %}
                          <li><hr class="dropdown-divider"></li>
                          {% endif %}
                      {% endfor %}
                    </ul>
                  </li>

                  <!-- Precio -->
                  <li class="nav-item dropdown">
                    <button class="btn dropdown-toggle navbar-brand" data-bs-toggle="dropdown" aria-expanded="false">
                      <b>Precio</b>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-primary">
                      <li><a class="dropdown-item" href="{% url 'catalogo' %}?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}precio=asc">Menor a Mayor</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'catalogo' %}?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}precio=desc">Mayor a Menor</a></li>
                    </ul>
                  </li>
            </ul> 
      </div>
  </nav>
 </div>
</div> 
<br> <br>

    <main>
        <!-- barra scroll -->
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
            <!--Galeria Productos-->
            <div class="container">  
              <!-- fila 1 de galeria -->
              <div class="row">
                
                {% load humanize %} <!--para ver los datos mas legibles-->
                {% for p in productos %} <!--llama a todos los productos para mostrarlo-->
                  <div class="col-sm-3 mb-3 mb-sm-0">
                      <div class="card">
                          <div class="card-body">
                              {% if p.imagen %}
                              <img class="img-fluid mx-auto d-block image" src="{{ p.imagen.url }}" alt="{{ p.nombre_prod }}">
                              {% else %}
                                     <p>No hay imagen disponible</p>    
                              {% endif %}
                              <h6 class="card-title">{{ p.nombre_prod | title }}</h6>
                              <h5 class="card-text">{{ p.id_marca }}</h5>
                              <p class="card-text" style="color: gray;">{{ p.cantidad_total}} en inventario</p>
                              <h4 class="card-text ">${{ p.valor | intcomma }}</h4>
                              <div class="text-center">
                                  <a id="addToCart{{ p.id_producto }}" href="{% url 'agregar_producto_catalogo' p.id_producto %}" class="btn btn-outline-light" >agregar al carro</a>
                              </div>
                              <div id="popupMessage{{ p.id_producto }}" class="popup hidden">
                                <p>Producto agregado al carrito</p>
                            </div>
                          </div>
                      </div>
                  </div>
                {% endfor %}  
                
        
      </nav>
    </div>
  </div> 

<br> <br>

  <!--Galeria Productos-->
  <div class="container">  
    <!-- fila 1 de galeria -->
    <div class="row justify-content-center">
        
      {% load humanize %} <!--para ver los datos mas legibles-->
      {% for p in productos %} <!--llama a todos los productos para mostrarlo-->
        <div class="col ">
            <div class="card">
                <div class="card-body">
                    {% if p.imagen %}
                    <img class="img-fluid mx-auto d-block image" src="{{ p.imagen.url }}" alt="{{ p.nombre_prod }}">
                    {% else %}
                            <p>No hay imagen disponible</p>    
                    {% endif %}
                    <h6 class="card-title">{{ p.nombre_prod | title }}</h6>
                    <h5 class="card-text">{{ p.id_marca }}</h5>
                    <p class="card-text" style="color: gray;">{{ p.cantidad_total}} en inventario</p>
                    <h4 class="card-text ">${{ p.valor | intcomma }}</h4>
                    <div class="text-center">
                        <a href="{% url 'agregar_producto_catalogo' p.id_producto %}" class="btn btn-outline-light" >agregar al carro</a>
                    </div>
                </div>
            </div>
        </div>
      {% endfor %} 

  <br><br>

  <!-- paginacion -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
    </ul>
  </nav>
  

  </main>
    
    <script src="{% static '/app/JS/mensajeCarro.js' %}"></script>

{% endblock %}