{% extends 'app/base.html'%}

{% load static %}

{% block contenido %}



<link rel="stylesheet" href="{% static '/app/CSS/ofertas.css' %}">


<main>
    
    <!-- Ofertas -->
    <div class="container" id="categoria">
        <div class="card text-bg-primary mb-3" >
            <div class="card-body">
                <medium class="card-title"><b>OFERTAS</b></medium>
                <p class="card-text"></p>
            </div>
         </div>
    </div>    
    <!-- fila 1 de galeria -->
    <div class="container">
        <div class="row">
            <div class="col tarjet">
                <div class="card">
                    <div class="card-body text-center">
                        <br><br>
                        <img class="img-fluid mx-auto d-block image sinfondo" src="{% static 'app/IMAGENES/productos/cargador.png' %}" alt="">    
                        <br><br>
                        <h5 class="card-title"><b>20% OFF</b></h5>
                        <div class="text-center">
                            <a href="#" class="btn btn-outline-light" >ver producto</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col tarjet">
                <div class="card">
                    <div class="card-body text-center">
                        <br><br>
                        <img class="img-fluid mx-auto d-block image sinfondo" src="{% static 'app/IMAGENES/productos/cargadorauto.png' %}" alt="">    
                        <br><br>
                        <h5 class="card-title">50% OFF</h5>
                        <div class="text-center">
                            <a href="#" class="btn btn-outline-light" >ver productos</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col tarjet">
                <div class="card">
                    <div class="card-body text-center">
                        <br><br>
                        <img class="img-fluid mx-auto d-block image sinfondo" src="{% static 'app/IMAGENES/productos/mouse.png' %}" alt="">    
                        <br><br>
                        <h5 class="card-title">30% OFF</h5>
                        <div class="text-center">
                            <a href="#" class="btn btn-outline-light" >ver productos</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col tarjet">
                <div class="card">
                    <div class="card-body text-center">
                        <br><br>
                        <img class="img-fluid mx-auto d-block image sinfondo" src="{% static 'app/IMAGENES/productos/pendrive.png' %}" alt="">    
                        <br><br>
                        <h5 class="card-title">50% OFF</h5>
                        <div class="text-center">
                            <a href="#" class="btn btn-outline-light" >ver productos</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</main>

<br><br>

    
    {% endblock %}  