/* Cambia el color de fondo de los tag */
#header, .submit-row input, caption {
    background-color: #0073e6 !important;
}
/* Cambia el color del texto de los enlaces de la barra de navegación */
#header a {
    color: #FFFFFF !important;
}

.logotipo{
    width: 200px; /* Define el ancho deseado */
    filter: invert(100%) brightness(150%); /*el logotipo se deja blanco*/
}