/* Estilo para navbar fija */
.navbar-sticky {
   z-index: 1000;
   background-color: rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(130px);
   border-bottom: 1px solid #ccc;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/*efecto imput buscar */
.input:focus, input:hover {
   outline: none;
   border-color: rgba(80, 98, 236, 0.4);
   background-color: #fff;
   box-shadow: 0 0 0 4px rgba(100, 76, 234, 0.1);
}


/*efectos menu nav*/
.menuNav a{
   color: #ffffff;
   /* cursor: pointer;
   position: relative; */
   border:none;
   background: none;
   transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
   transition-duration: 400ms;
   transition-property: color;

}


.menuNav a:focus, .menuNav a:hover {
   color: #fff;
}


.menuNav a:after {
   /* content: "";
   pointer-events: none;
   bottom: -2px;
   left: 50%;
   position: absolute;
   width: 0%;
   height: 2px; */
   background-color: #fff;
   transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
   transition-duration: 400ms;
   transition-property: width, left;
}

/*todos los dropdown se despliega cuando lo enfoca*/
 .dropdown:hover .dropdown-menu,
.dropdown:focus .dropdown-menu {
   display: block;
   max-height: 300px;
   opacity: 1;
}


<<<<<<< HEAD
/* .navbar-item{
   margin-right:10px;

} */


/* .menuNav a:focus:after,
.menuNav a:hover:after {
   width: 100%;
   left: 0%;
}  */





.navbar-sticky {
   width: 100%;
   top: 0;
   position: fixed;
   display: inline-block;
   justify-content: space-between;
}

.navbar-sticky ul{
   width: 50%;
}

.navbar-sticky li{
   width: 100%;
   
}

form{
   width: 60%;
}

.logotipo{
   width: 20%;
}

.menuNav{
   width: 100%;
   position: static;
   display: inline-block;
   justify-content: space-between;

}

.navbar-brand{
   font-size:x-large;
}


.menuNav ul{
   list-style-type: none;
   display:inline-flex;
   justify-content: space-between;

}

footer ul{
   width: 30%;
   list-style-type: none;
   display: flex ;
   justify-content: space-between;
}
=======
 
>>>>>>> webstore
