/* se define el porte de las imagenes del catalogo */
.image {
    width: 200px; /* Define el ancho deseado */
    height: 200px; /* Define la altura deseada */
    
}

/* se define el porte de las cartas de los productos */
.card {
    width: 300px; /* Define el ancho deseado */
    height: 400px; /* Define la altura deseada */
    margin-right: 20px; /* Espacio a la derecha de cada tarjeta */
    margin-bottom: 20px; /* Espacio debajo de cada tarjeta */
    
}
