body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

}


header {
    background-color: #006bb6;
    color: white;
    padding: 15px;
    text-align: center;

}

.logito {
    position: absolute;
    top: 15px; /* Ajusta la distancia desde el borde superior */
    right:  65px;
}


#menu {
    background-color: red;
    padding: 10px;
}


#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Alineación entre extremos */

}

#menu li {
    margin-right: 20px;
}

#menu li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}


#menu li a:hover {
    color: #0066cc;
}


#main h2{
    color: #006bb6; /* Color azul para los títulos */

}



.fondoe {

    float:right;
}

p  {
    text-align: justify;
}

.parrafo_inicio {
    text-align: center;
}


#gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 16px;
    gap: 10px;
}


#gallery .card {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
}

.card {
    width: calc(25% - 60px);  /* Calcula el ancho para que haya margen entre las tarjetas */
    margin: 30px;
    padding: 10px;
    box-sizing: border-box;  /* Incluye el padding en el ancho total de la tarjeta */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 0.3s;
    text-align: center;

}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#content {
    max-width: 800px; /* Limita el ancho del contenido para que no se vea demasiado ancho en pantallas grandes */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 20px; /* Agrega espacio alrededor del contenido */
    text-align: justify; /* Justifica el texto para una apariencia más limpia */
    line-height: 1.6; /* Espaciado entre líneas para una mejor legibilidad */
}

#content h2 {
    color: #006bb6; /* Color azul para los títulos */
    font-size: 24px; /* Tamaño de fuente grande para los títulos */
    margin-bottom: 10px; /* Espacio inferior entre los títulos y los párrafos */
}

#content p {
    font-size: 16px; /* Tamaño de fuente normal para los párrafos */
    margin-bottom: 20px; /* Espacio inferior entre los párrafos */
}

/* Estilos adicionales para resaltar el enlace de contacto */
#content a {
    color: #006bb6; /* Color azul para los enlaces */
    text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
    transition: color 0.3s; /* Agrega una transición suave para el cambio de color */
}

#content a:hover {
    color: #004080; /* Color azul oscuro cuando se pasa el mouse sobre el enlace */
}


footer {
    background-color: #006bb6;
    padding: 5px;
    color: white;
    text-align: center;
}

footer .abajo {
    text-align:left ;
    padding: 10px; /* Ajusta el padding según sea necesario */
    color: white;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    color: #ccc;
}

footer section {
    float: right;
}

/* PANTALLA RESPONSIVA */
/*mobile*/
@media screen and (min-width: 576px){
	body{
		width: 100%;	
	}
    #gallery .card {
        flex: 1 1 calc(35% - 10px);
        max-width: calc(35% - 10px);
      }



}

/*tablet*/
@media screen and (min-width: 768px){
	body{
		width: 100%;	
	}
    #gallery .card {
        flex: 1 1 calc(30% - 10px);
        max-width: calc(30% - 10px);
      }

}


/*laptop*/
@media screen and (min-width: 992px){
	body{
		width: 100%;
	}
    #gallery .card {
        flex: 1 1 calc(25% - 10px);
        max-width: calc(25% - 10px);
      }
}

/*desktop*/
@media screen and (min-width: 1200px){
	body{
		width: 100%;
	}
    #gallery .card {
        flex: 1 1 calc(20% - 10px);
        max-width: calc(20% - 10px);
      }
}

/* AJUSTES CSS API */
.clima-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.clima-box {
background-color: #f0f0f0;
border-radius: 10px;
padding: 20px;
text-align: center;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
margin: 0 66px; /* Ajuste del espacio entre las cajas */
transition: transform 0.3s ease; /* Agregar transición al efecto */
}

.clima-box img {
max-width: 100px;
max-height: 100px;
}

.clima-box:hover {
transform: scale(1.1); /* Escalar la caja al pasar el mouse sobre ella */
}
